<script>
    var from_id ='{$admin.id}';
    var ws =  new WebSocket("{$web_socket_url}");
    ws.onmessage = function(e){
        var message = eval('(' + e.data + ')');
        console.log('message', message);
        switch (message.type){
            case  "init":
                var bild = '{"type":"bind","from_id":"'+from_id+'"}';
                ws.send(bild);
                refresh_header_chat();
                return;
            case "online":
            case "say":
            case "say_img":
                refresh_header_chat();
                return;
        }
    };
    function refresh_header_chat() {
        $.post(
            "{:url('cms/chat/ajax_get_noReadCount')}",
            {},function (result) {
                console.log(result);
                if(result.data.noReadCount > 0){
                    var replaceStr = "<span class=\"layui-badge\">"+result.data.noReadCount+"</span>";
                    $(".span-header-chat").html(replaceStr);
                }else {
                    $(".span-header-chat").html('');
                }
            },'JSON');
    }
    /**
     * 主页刷新事件
     */
    $(".refreshHome").click(function () {
        $(this).addClass('title-selected');
        var url = $(this).attr('url');
        $(".layui-body .iframe-body").attr('src',url);
    });
    /**
     * 当前页面刷新事件
     */
    $(".refreshThis").click(function () {
        var mkTag = $(this).hasClass("refreshTag");
        if (mkTag) {
            $(this).removeClass("refreshTag");
            $(".layui-layout-admin .layui-body").find("iframe")[0].contentWindow.location.reload(true);
            setTimeout(function () {
                $(".refreshThis").addClass("refreshTag");
            }, 2000);
        } else {
            layer.msg("您的刷新速度太快，还是等两秒再刷新吧！");
        }
    });

    $(document).ready(function () {
        var allH = $(".layui-body").height();
        var titleH = $(".layui-tab-title").height();
        //$(".iframe-body").css("height", allH - titleH - 10);
        $(".iframe-body").css("height", '99%');
    });

    /**
     * 主要用于管理员 自身账号修改
     * @param adminID
     */
    function viewAdminMsg(adminID) {
        var toUrl = "{:url('cms/index/admin',['id'=>'AdminID'])}";
        toUrl = toUrl.replace('AdminID',adminID);
        ToOpenPopups(toUrl,'✎ 基本资料','40%','65%');
    }

    /**
     * 聊天窗口
     * @param adminID
     */
    function viewChatWindow() {
        var toUrl = "{:url('cms/chat/lists')}";
        ToOpenPopups(toUrl,'✉','380px','680px');
    }
</script>