<div class="layui-header">
    <div class="layui-logo"><span>moTzxx 后台管理</span></div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left ">
        <li class="layui-nav-item ">
            <span class="span-cms-bg-icon span-cms-bg-icon-menu"></span>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;" onclick="viewChatWindow()">
                <span class="span-cms-bg-icon span-cms-bg-icon-chat"></span>
                <span class="span-tip">消息</span>
                <span class="span-header-chat"></span>
            </a>
        </li>
    </ul>

    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item nav_weather">
            <!-- 天气信息 -->
            {include file="layouts/_weather" /}
        </li>
        <li class="layui-nav-item" id="FullScreen">
            <a href="javascript:;">
                <span class="span-cms-bg-icon span-cms-bg-icon-fullscreen"></span>
                <span class="span-cms-bg-icon span-cms-bg-icon-fullscreen-exit"></span>
                <span class="span-tip">全屏</span>
            </a>
        </li>
        <li class="layui-nav-item lockcms" id="LockScreen">
            <a href="javascript:;">
                <span class="span-cms-bg-icon span-cms-bg-icon-lockScreen"></span>
                <span class="span-tip">锁屏</span>
            </a>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="{$admin['picture']}" class="layui-nav-img">
                {$admin['user_name']}
            </a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="#" onclick="viewAdminMsg('{$admin.id}')">
                        <span class="span-cms-bg-icon span-cms-bg-icon-adminInfo"></span>
                        <span class="span-tip">基本资料</span>
                    </a>
                </dd>
                <dd>
                    <a href="{:url('cms/login/logout')}">
                        <span class="span-cms-bg-icon span-cms-bg-icon-logout"></span>
                        <span class="span-tip">注销退出</span>
                    </a>
                </dd>
            </dl>
        </li>
    </ul>
</div>