<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>moTzxx-CMS</title>
    <meta name="keywords" content="moTzxx-CMS"/>
    <meta name="description" content="moTzxx-CMS Version:1.0"/>
    <meta name="Author" content="moTzxx"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- load layui -->
    {include file="layouts/_layui" /}
    <!-- 加载公共文件  -->
    <link href="__CMS__/css/zhang.css" rel="stylesheet">
    <script type='text/javascript' src="__CMS__/js/moZhang.js"></script>
</head>
