<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>导航列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {include file="layouts/_layui" /}
    <!-- 加载公共文件  -->
    <link href="__CMS__/css/zhang.css" rel="stylesheet">
    <script src="__CMS__/js/moZhang.js"></script>
</head>
<body>
<div class="div-body-show">
    {block name="body-content"}{/block}
</div>

<script>
    //此为图片上传路径
    var image_upload_url = "{:url('/api/upload/img_file')}";
    $(".btn-search-mz").on('click', function () {
        //var str_search = $(".search_input").val();
        $(".form-search").submit();
    });

</script>
</body>
{block name="single-content"}{/block}
<script type="text/javascript" src="__CMS__/js/common.js"></script>
</html>