<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>沟通中</title>
    <meta name="renderer" content="webkit">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta http-equiv="Page-Enter" content="blendTrans(duration=5,transition=8)">
    <meta http-equiv="Page-Exit"  content="revealTrans(duration=5.0,transition=14)">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {include file="layouts/_layui" /}
    <!-- 加载公共文件  -->
    <link href="__CMS__/css/zhang.css" rel="stylesheet">
    <script src="__CMS__/js/moZhang.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/css/themes.css?v=2017129">
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/css/h5app.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/fonts/iconfont.css?v=2016070717">
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/css/chat_list.css">

    <script src="__STATIC__/newcj/js/jquery.min2.js"></script>
    <script src="__STATIC__/newcj/js/dist/flexible/flexible_css.debug.js"></script>
    <script src="__STATIC__/newcj/js/dist/flexible/flexible.debug.js"></script>
    <script src="__STATIC__/qqFace/js/jquery.qqFace.js"></script>
    <style>
        .qqFace { margin-top: -180px; background: #fff; padding: 2px; border: 1px #dfe6f6 solid; }
        .qqFace table td { padding: 0px; }
        .qqFace table td img { cursor: pointer; border: 1px #fff solid; }
        .qqFace table td img:hover { border: 1px #0066cc solid; }
    </style>
</head>
<body ontouchstart>
<div class="div-body-show">
    {block name="body-content"}{/block}
</div>

<script>
    //此为图片上传路径
    var image_upload_url = "{:url('/cms/upload_img_file')}";
    $(".btn-search-mz").on('click', function () {
        $(".form-search").submit();
    });
</script>
</body>
{block name="single-content"}{/block}
<script type="text/javascript" src="__CMS__/js/common.js"></script>
</html>