{extend name='layouts/cms'}
{block name='body-content'}
<form class="layui-form form-op-normal layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">商品名称：</label>
        <div class="layui-input-inline">
            <input type="text" name="goods_name" required lay-verify="required"
                   value="{$good['goods_name']}"
                   placeholder="请输入商品名称" autocomplete="off" class="layui-input input-title-mz">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">缩略图片：</label>
        <div class="layui-upload layui-input-inline">
            <button type="button" name="img_upload" class="layui-btn btn_upload_img">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <img class="layui-upload-img img-upload-preview upload_img_preview"
                 src="{$Think.config.ftp.IMG_SERVER_PATH}{$good['thumbnail']}">
        </div>
    </div>

    <input type="hidden" name="thumbnail" class="upload_img_url" value="{$good['thumbnail']}">
    <input type="hidden" name="slide_show" class="multiple-show-img" value="">
    <div class="layui-form-item">
        <label class="layui-form-label">轮播图片：</label>
        <div class="layui-upload layui-input-block">
            <button type="button" class="layui-btn layui-btn-normal" id="btn_multiple_upload_img">多图上传</button>
            <button type="button" class="layui-btn layui-btn-danger" id="btn_image_clear">清空多图</button>
            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                <div class="layui-upload-list" id="upload_image_list">
                    {volist name="good.img_list" id="pic"}
                    <img style="height: 66px;margin-left: 7px" onclick="delMultipleImgs(this)"
                         src="{$Think.config.ftp.IMG_SERVER_PATH}{$pic}"
                         title="单击删除" class="layui-upload-img">
                    {/volist}
                </div>
                <input type="hidden" name="slide_imgs" class="upload_image_url" value="{$good['slide_imgs']}">
            </blockquote>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">简述：</label>
        <div class="layui-input-inline">
            <input type="text" name="sketch" required lay-verify="required"
                   value="{$good['sketch']}"
                   placeholder="请输入简述，一句话为宜" autocomplete="off" class="layui-input input-title-mz">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态：</label>
        <div class="layui-input-inline">
            <input type="radio" name="status" value="0" title="下架"
                   {$good.status==0?"checked":""}>
            <input type="radio" name="status" value="1" title="上架"
                   {$good.status==1?"checked":""}>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">推荐：</label>
        <div class="layui-input-block">
            <input type="checkbox" {$good.recommend==1?"checked":""} name="recommend"
            lay-skin="switch" lay-filter="switchTest" lay-text="YES|NO">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">售价：</label>
        <div class="layui-input-inline">
            <input type="number" name="selling_price"
                   value="{$good['selling_price']}" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>

        <label class="layui-form-label">市场价：</label>
        <div class="layui-input-inline">
            <input type="number" name="market_price"
                   value="{$good['market_price']}" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>

        <div class="layui-form-mid layui-word-aux">(价格 两位小数：12.50)</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序权重：</label>
        <div class="layui-input-inline">
            <input type="number" name="list_order"
                   value="{$good['list_order']}" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">(数字越小，排序越靠前)</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属分类：</label>
        <div class="layui-input-inline">
            <select id="toSelCatID" lay-filter="GoodsToSelCatID" lay-search="" name="cat_id" lay-verify="required">
                <option value="">搜索或选择分类</option>
                {volist name="categoryList" id="vo"}
                    {volist name="vo.children" id="vo2"}
                        <optgroup label="{$vo2['cat_name']}">
                            {volist name="vo2.children" id="vo3"}
                            <option value="{$vo3.cat_id}" {$good.cat_id==$vo3.cat_id?"selected":""}>{$vo3.cat_name}</option>
                            {/volist}
                        </optgroup>
                    {/volist}
                {/volist}
            </select>
        </div>

        <label class="layui-form-label">选择品牌：</label>
        <div class="layui-input-inline">
            <select name="brand_id" id="toSelBrand" lay-verify="required" lay-search="">
                <option value="">直接选择或搜索</option>
                {volist name="good.brandList" id="brand"}
                    <option value="{$brand.id}" {$good.brand_id==$brand.id?"selected":""}>{$brand.brand_name}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">添加属性：</label>
        <div class="layui-input-inline">
            <select id="toSelSpecFst" lay-filter="toSelSpecFst"
                    lay-verify="required" lay-search="">
                <option value="">直接选择或搜索</option>
            </select>
        </div>
    </div>

    <blockquote class="layui-elem-quote layui-quote-nm block-goods-sku" style="margin-top: 10px;">
        <button type="button" class="layui-btn layui-btn-normal">销售信息：</button>
        <table class="layui-table" lay-size="sm">
            <colgroup>
                <col width="150">
                <col>
            </colgroup>
            <thead>
            <tr class="tr-specInfo-key">
                <th>属性名称</th>
                <th>属性赋值</th>
            </tr>
            </thead>
            <tbody class="tbody-specInfo-value">

            </tbody>
        </table>

        <button type="button" class="layui-btn layui-btn-danger">销售规格：</button>
        
        <table class="layui-table table-specInfo" lay-size="sm">
            <colgroup>
                <col width="25%">
                <col width="30%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
            </colgroup>
            <thead>
            <tr class="tr-specInfo-key tr-specInfo-msg">
                <th>规格信息</th>
                <th>规格配图</th>
                <th>售价</th>
                <th>库存量</th>
                <th>已售量</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody class="tbody-specInfo-msg">
            {volist name="good.sku_arr" id="sku"}
            <tr>
                <td>
                    <span class="span-spec_name">{$sku.spec_name}</span>
                    <input type="hidden" name="sku_arr[{$sku.spec_info}][spec_id]"
                           value="{$sku.spec_info}">
                    <input type="hidden" name="sku_arr[{$sku.spec_info}][spec_name]"
                           value="{$sku.spec_name}">
                </td>
                <td>
                    <div class="layui-upload layui-input-inline">
                        <button type="button" class="layui-btn btn_sku_upload_img"
                         lay-data="{sku_index:{$i}}">
                            <i class="layui-icon">&#xe67c;</i>
                        </button>
                        <img class="layui-upload-img sku-img-upload-preview-{$i}
                             img-upload-preview-medium img-upload-view"
                             src="{$sku.full_sku_img}">
                        <input type="hidden" class="input-sku-img-{$i}"
                               name="sku_arr[{$sku.spec_info}][sku_img]"
                               value="{$sku.sku_img}" required="" class="layui-input">
                    </div>
                </td>
                <td>
                    <input type="number" name="sku_arr[{$sku.spec_info}][selling_price]"
                           value="{$sku.selling_price}" required="" class="layui-input input-selling_price">
                </td>
                <td>
                    <input type="number" name="sku_arr[{$sku.spec_info}][stock]"
                           onblur="onblur_sku_stock()"
                           value="{$sku.stock}" required="" class="layui-input input-sku-stock">
                </td>
                <td>
                    <input type="number" name="sku_arr[{$sku.spec_info}][sold_num]"
                           value="{$sku.sold_num}" required="" class="layui-input input-sold_num">
                </td>
                <td class="option-sku_status-{$sku.sku_status}">
                    <select name="sku_arr[{$sku.spec_info}][sku_status]">
                        <option value="1" {$sku.sku_status=="1"?"selected":""}>上架</option>
                        <option value="0" {$sku.sku_status=="0"?"selected":""}>下架</option>
                        <option value="-1" {$sku.sku_status=="-1"?"selected":""}>删除</option>
                    </select>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <input type="hidden" class="attr_info" name="attr_info" value="{$good['attr_info']}">
    </blockquote>

    <div class="layui-form-item">
        <label class="layui-form-label">库存总量：</label>
        <div class="layui-input-inline">
            <input type="number" name="stock" readonly
                   value="{$good['stock']}" required lay-verify="required"
                   autocomplete="off" class="layui-input input-goods_stock">
        </div>
    </div>
    <div class="layui-form-item layui-form-text ">
        <label class="layui-form-label">商品详情：</label>
        <div class="layui-input-block div-article-content">
            <textarea id="mz-tinymce" name="details" type="text/plain">
                    {php}echo htmlspecialchars_decode($good['details']);{/php}
            </textarea>
        </div>
    </div>
    {:token()}
    <div class="layui-form-item">
        <div class="layui-input-block div-form-op">
            <button class="layui-btn layui-btn-danger" type="button"
                    op_url="{:url('cms/goods/edit',['id'=>$good.goods_id])}" onclick="opFormPostRecord(this)">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}

{block name='single-content'}
<link href="__CMS__/css/goods.css" rel="stylesheet">
<script src="__CMS__/js/goods.js"></script>
{include file='layouts/_tinymceJs'}
<script>
    var arrSpecFull = [];
    function makeSaleGoodsMsg() {
        goToMakeSaleGoodsMsg(arrSpecFull);
    }

    layui.use(['form'], function () {
        var form = layui.form;
        var toUrl = "{:url('cms/goods/ajaxGetBrandAndSpecInfoFstByCat')}";
        goToToSelCatID(toUrl,'{$good.cat_id}',form,'init');

        form.on('select(GoodsToSelCatID)', function (data) {
            //TODO 此时进行ajax的服务器访问，如果返回数据正常，则进行后面代码的调用
            goToToSelCatID(toUrl, data.value, form,'click');
        });
        //点击获取子级属性信息
        form.on('select(toSelSpecFst)', function (data) {
            //初始化 商品选择下拉列表
            //TODO 此时进行ajax的服务器访问，如果返回数据正常，则进行后面代码的调用
            var toUrl = "{:url('cms/specInfo/ajaxGetSpecInfoBySpecFst')}";
            goToToSelSpecFst(toUrl, data, form);
        });

        form.on('checkbox(cbSpecInfo)', function (data) {
            goToCbSpecInfo(data);
        });
    });

</script>
{/block}




