{extend name="layouts/cms"}
{block name='body-content'}
<button class="layui-btn layui-btn-normal"
        op_url="{:url('cms/goods/add')}"
        onclick="addForOpenPopups(this,'✚ 添加商品','70%','88%')">
    <i class="layui-icon">&#xe608;</i> 添加商品
</button>
<div class="layui-inline layui-form">
    <form class="form-search" action="{:url('cms/goods/index')}" method="get">
        <div class="layui-input-inline" style="width: 100px">
            <select name="SelStatus">
                <option value="Up" {$SelStatus=="Up"?"selected":""}>已上架</option>
                <option value="Down" {$SelStatus=="Down"?"selected":""}>已下架</option>
            </select>
        </div>

        <div class="layui-input-inline" style="width: 145px">
            <select name="CatType" lay-search="">
            <option value="">搜索或选择分类</option>
            {volist name="categoryList" id="vo"}
                {volist name="vo.children" id="vo2"}
                    <optgroup label="{$vo2['cat_name']}">
                        {volist name="vo2.children" id="vo3"}
                        <option value="{$vo3.cat_id}" {$CatType==$vo3.cat_id?"selected":""}>{$vo3.cat_name}</option>
                        {/volist}
                    </optgroup>
                {/volist}
            {/volist}
            </select>
        </div>
        <div class="layui-input-inline" style="width: 120px">
            <select name="OrderType">
                <option value="D" {$OrderType=="D"?"selected":""}>▼更新时间</option>
                <option value="S" {$OrderType=="S"?"selected":""}>▲库存多少</option>
                <option value="W" {$OrderType=="W"?"selected":""}>▲排序权重</option>
                <option value="R" {$OrderType=="R"?"selected":""}>▼推荐与否</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <input type="hidden" name="curr_page" class="curr_page" value="1">
            <input type="text" value="{$search}" name="str_search" placeholder="请输入商品名称"
                   class="layui-input search_input" autocomplete="off">
        </div>

        <button class="layui-btn-warm btn-search-mz">
            <i class="layui-icon">&#xe615;</i>
        </button>
    </form>
</div>

<table class="layui-table table-body" lay-even="" lay-skin="row">
    <colgroup>
        <col width="5%">
        <col width="12%">
        <col width="5%">
        <col width="8%">
        <col width="8%">
        <col width="5%">
        <col width="5%">
        <col width="5%">
        <col width="10%">
        <col width="10%">
    </colgroup>
    <thead>
    <tr>
        <th>编号</th>
        <th>商品名称</th>
        <th>缩略图片</th>
        <th>分类</th>
        <th>品牌</th>
        <th>售价</th>
        <th>库存</th>
        <th>排序</th>
        <th>更新时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <input type="hidden" class="op_url" value="{:url('cms/goods/edit',['id'=>'opid'])}">
    <input type="hidden" class="log_url" value="{:url('cms/goods/viewLogs',['id'=>'opid'])}">
    <tbody class="table-tbody-normal layui-form"
           ajax_page_fun="ToAjaxOpForPageGoods"
           record_num="{$record_num}" page_limit="{$page_limit}"
           page_url="{:url('cms/goods/index')}">
    {volist name="goods" id="vo"}
    <tr class="tr-normal tr-normal-{$vo['goods_id']}">
        <td>{$vo['goods_id']}</td>
        <td class="td-goods_name">
            {eq name="vo.recommend" value="1"}<span class="layui-badge">荐</span>{/eq}
             {$vo['goods_name']}</td>
        <td><img class="img-thumbnail" src="{$vo['thumbnail']}"></td>
        <td><span class="span-cat_name" title="分类">【{$vo['cat_name']}】</span></td>
        <td>
            <span class="layui-badge-dot layui-bg-blue"></span>
            <span class="span-brand_name" title="品牌">{$vo['brand_name']}</span>
        </td>
        <td><span class="selling_price">￥{$vo['selling_price']}</span></td>
        <td><span class="span-stock">{$vo['stock']}</span></td>
        <td><span class="span-list_order">{$vo['list_order']}</span></td>
        <td>
            <input type="checkbox" class="switch_checked" lay-filter="switchGoodsID"
                   switch_goods_id="{$vo['goods_id']}"
                   lay-skin="switch" {$vo.status_checked} lay-text="上架|下架">
            <hr><span class="span-updated_at">{$vo['updated_at']}</span>
        </td>
        <td>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm layui-btn-normal" title="编辑商品"
                        onclick="editForOpenPopups('✎ 商品修改','{$vo.goods_id}','70%','86%')">
                    <i class="layui-icon">&#xe642;</i>
                </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger" title="删除商品"
                        onclick="delPostRecord('{$vo.goods_id}')">
                    <i class="layui-icon">&#xe640;</i>
                </button>
                <button class="layui-btn layui-btn-sm layui-btn-warm" title="操作记录"
                        onclick="viewLogOpenPopups('☁ 操作日志','{$vo.goods_id}')">
                    <i class="layui-icon">&#xe60e;</i>
                </button>
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<div id="demo2-1"></div>
{/block}

{block name='single-content'}
<link href="__CMS__/css/goods.css" rel="stylesheet">
<script type="text/babel" src="__CMS__/js/goods_react.js"></script>
<script>
    layui.use(['form'], function () {
        const form = layui.form;
        form.on('switch(switchGoodsID)', function (data) {
            //开关是否开启，true或者false
            let checked = data.elem.checked;
            let okStatus = 0;
            if (checked) {
                okStatus = 1
            }
            //获取所需属性值
            let switch_goods_id = data.elem.attributes['switch_goods_id'].nodeValue;
            //TODO 此时进行ajax的服务器访问，如果返回数据正常，则进行后面代码的调用
            const toUrl = "{:url('cms/goods/ajaxPutaway')}";
            $.post(
                toUrl,
                {goods_id: switch_goods_id, okStatus: okStatus},
                function (result) {
                    if (result.status > 0) {
                        data.elem.checked = checked;
                        form.render();
                    } else {
                        //失败
                        data.elem.checked = !checked;
                        form.render();
                        layer.msg(result.message);
                    }
                }, "JSON");
        });
        form.on('select()', function(){
            $(".form-search").submit();
        });
        form.render('select');//细节！这个好像要渲染一下！
    });

    /**
     * ajax 获取并加载每页的数据
     * @param toUrl
     * @param postData
     * @constructor
     */
    function ToAjaxOpForPageGoods(toUrl,postData) {
        $.post(
            toUrl,
            postData,
            function (result) {
                if(result.status == 1){
                    let str_html = '';
                    $.each(result.data,function (i,e) {
                        let tip = "";
                        if(e.recommend == 1){tip = "<span class=\"layui-badge\">荐</span>&nbsp;"};
                        str_html +=
                            "<tr class=\"tr-normal tr-normal-"+e.goods_id+"\">\n" +
                            "                <td>"+e.goods_id+"</td>\n" +
                            "                <td class=\"td-goods_name\">"+tip+e.goods_name+"</td>\n" +
                            "                <td><img class=\"img-thumbnail\" src=\""+e.thumbnail+"\"></td>\n" +
                            "        <td>\n" +
                            "            <span class=\"span-cat_name\" title=\"分类\">【"+e.cat_name+"】</span>\n" +
                            "        </td>\n" +
                            "        <td>\n" +
                            "            <span class=\"layui-badge-dot layui-bg-blue\"></span>\n" +
                            "            <span class=\"span-brand_name\" title=\"品牌\">"+e.brand_name+"</span>\n" +
                            "        </td>\n" +
                            "        <td><span class=\"selling_price\">￥"+e.selling_price+"</span></td>\n" +
                            "        <td><span class=\"span-stock\">"+e.stock+"</span></td>\n" +
                            "        <td><span class=\"span-list_order\">"+e.list_order+"</span></td>\n" +
                            "        <td>\n" +
                            "            <input type=\"checkbox\" class=\"switch_checked\" lay-filter=\"switchGoodsID\"\n" +
                            "                   switch_goods_id=\""+e.goods_id+"\"\n" +
                            "                   lay-skin=\"switch\" "+e.status_checked+" lay-text=\"上架|下架\">\n" +
                            "            <hr><span class=\"span-updated_at\">"+e.updated_at+"</span>\n" +
                            "        </td>\n" +
                            "        <td>\n" +
                            "            <div class=\"layui-btn-group\">\n" +
                            "                <button class=\"layui-btn layui-btn-sm layui-btn-normal\" title=\"编辑商品\"\n" +
                            "                        onclick=\"editForOpenPopups('✎ 商品修改','"+e.goods_id+"','70%','86%')\">\n" +
                            "                    <i class=\"layui-icon\">&#xe642;</i>\n" +
                            "                </button>\n" +
                            "                <button class=\"layui-btn layui-btn-sm layui-btn-danger\" title=\"删除商品\"\n" +
                            "                        onclick=\"delPostRecord('"+e.goods_id+"')\">\n" +
                            "                    <i class=\"layui-icon\">&#xe640;</i>\n" +
                            "                </button>\n" +
                            "                <button class=\"layui-btn layui-btn-sm layui-btn-warm\" title=\"操作记录\"\n" +
                            "                        onclick=\"viewLogOpenPopups('☁ 操作日志','"+e.goods_id+"')\">\n" +
                            "                    <i class=\"layui-icon\">&#xe60e;</i>\n" +
                            "                </button>\n" +
                            "            </div>\n" +
                            "        </td>" +
                            "            </tr>";
                    });
                    $(".table-tbody-normal").html(str_html);
                    layui.form.render();//细节！这个好像要渲染一下！
                }else{
                    //失败
                    layer.msg(result.message);
                }
            },"JSON");
    }
</script>
{/block}