<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-6 news-ltr">
                <h4> 相遇，相识，分离，怨别</h4>
                <p>爱淡成词，瘦了纤纤素指下一阙阙相思，心若近，天涯海角都是相依；心若远，终日相聚也无法会意.</p>
                <p>月下花影，笑看世间情恨，红尘千丈，诉不尽繁花似锦。铃悬檐下，檐为铃守，铃不知； 风动铃心，铃为风歌，风不解；
                    世人谓， 无情最是如风过； 我谓，檐痴铃傻风何错！</p>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>心静</h3>
                <ul class="ftr-list">
                    <li><a href="#">有时，放弃是另一种坚持，你错失了夏花绚烂，必将会走进秋叶静美</a></li>
                    <li><a href="#">不管黑夜怎么长，白昼总会到来，生命必须有裂缝，阳光才照得进来</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>风语</h3>
                <ul class="ftr-list">
                    <li><a href="#">时间好比一部列车，它能承载我们驶向成功的未来；</a></li>
                    <li><a href="#">时间好比一位老人，它能帮助我们学到人生的真谛.</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>