<!DOCTYPE HTML>
<html>
<head>
    <title>{$seo_conf.seo_title?$seo_conf.seo_title:'主页'}</title>
    <meta name="description" content="{$seo_conf.seo_description?$seo_conf.seo_description:'moTzxx'}">
    <meta name="keywords" content="{$seo_conf.seo_keywords?$seo_conf.seo_keywords:'moTzxx'}">

    <link href="__INDEX__/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="__INDEX__/css/style.css" rel='stylesheet' type='text/css' />
    <link href="__INDEX__/css/zhang.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="__INDEX__/css/lightbox.css">
    <script type='text/javascript' src="__INDEX__/js/jquery-1.11.1.min.js"></script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
<!-- header -->
{include file="layouts/_header" /}

{block name="content"}content{/block}
<script src="__INDEX__/js/lightbox-plus-jquery.min.js"></script>

{include file="layouts/_layui" /}

{block name="single-content"}{/block}
<!-- footer -->
{include file="layouts/_footer" /}
<!---->
<div class="copywrite">
    <div class="container">
        <p>Copyright &copy; moTzxx 你若盛开 清风自来 心若浮沉 浅笑安然</p>
    </div>
</div>
<!---->
</body>
</html>