{extend name='layouts/cms'}
{block name='body-content'}

<button class="layui-btn layui-btn-normal"op_url="{:url('cms/admin/addAdmin')}"
        onclick="addForOpenPopups(this,'✚ 添加管理员', '48%', '65%')">
    <i class="layui-icon">&#xe608;</i> 添加管理员
</button>
<div class="layui-inline">
    <div class="layui-input-inline">
        <form class="form-search" action="{:url('cms/admin/index')}" method="get">
            <input type="hidden" name="curr_page" class="curr_page" value="1">
            <input type="text" value="{$search}" name="str_search" placeholder="请输入昵称或备注信息"
                   class="layui-input search_input">
        </form>
    </div>
    <button class="layui-btn-warm btn-search-mz">
        <i class="layui-icon">&#xe615;</i>
    </button>
</div>

<table class="layui-table table-body" lay-even="" lay-skin="row">
    <colgroup>
        <col width="5%">
        <col width="20%">
        <col width="10%">
        <col width="20%">
        <col width="20%">
        <col width="10%">
        <col width="15%">
    </colgroup>
    <thead>
    <tr>
        <th>ID</th>
        <th>称呼</th>
        <th>头像</th>
        <th>角色</th>
        <th>注册时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <input type="hidden" class="op_url" value="{:url('cms/admin/editAdmin',['id'=>'opid'])}">
    <tbody class="table-tbody-normal"
           ajax_page_fun="ToAjaxOpForPageAdmins"
           record_num="{$record_num}" page_limit="{$page_limit}"
           page_url="{:url('cms/admin/index')}">
    {volist name="admins" id="vo"}
    <tr class="tr-normal-{$vo['id']}">
        <td>{$vo['id']}</td>
        <td class="title">{$vo['user_name']}</td>
        <td class="td-item">
            <img src="{$vo['picture']}" class="layui-circle">
        </td>
        <td>{php} echo $vo['role_tip']{/php}</td>
        <td>{$vo['created_at']}</td>
        <td>{php} echo $vo['status_tip']{/php}</td>
        <td>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" title="编辑"
                        onclick="editForOpenPopups('✎ 管理员修改','{$vo.id}', '48%', '65%')">
                    <i class="layui-icon">&#xe642;</i>
                </button>
                <button class="layui-btn layui-btn-sm" title="删除"
                        onclick="delPostRecord('{$vo.id}')">
                    <i class="layui-icon">&#xe640;</i>
                </button>
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<div id="demo2-1"></div>
<style>
    .table-body,#demo2-1{
        width: 66%;
        margin: auto;
    }
    .table-tbody-normal .title{
        color: #7274A7;
    }
    .table-tbody-normal .td-item img:hover {
        transition: all 0.6s;
        transform: scale(5);
    }
    .table-tbody-normal .td-item img {
        cursor: pointer;
        width: 66px;
        height: 66px;
    }
</style>


{/block}

{block name='single-content'}
<script src="__CMS__/js/admins.js"></script>
{/block}