{extend name="layouts/cms"}
{block name='body-content'}
<form class="layui-form form-op-normal layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">配置标题：</label>
        <div class="layui-input-inline">
            <input type="text" name="title" required lay-verify="required"
                   value="{$confData.title}"
                   placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标签字符：</label>
        <div class="layui-input-inline">
            <input type="text" name="tag" required lay-verify="required"
                   value="{$confData.tag}"
                   placeholder="请输入标签字符" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">所属类型：</label>
        <div class="layui-input-inline">
            <select name="input_type" lay-filter="sel_type" lay-verify="required">
                <option value="text" {$confData.input_type=="text"?"selected":""}>文本</option>
                <option value="checkbox" {$confData.input_type=="checkbox"?"selected":""}>开关</option>
                <option value="image" {$confData.input_type=="image"?"selected":""}>图片</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">配置取值：</label>
        <div class="div-config-type div-config-typeFor-text" style="display: {$confData.input_type=='text'?'block':'none'}" >
            <div class="layui-input-inline">
                <input type="text" name="value_text"
                       value="{$confData.value}"
                       placeholder="请输入取值" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="div-config-type div-config-typeFor-image" style="display: {$confData.input_type=='image'?'block':'none'}">
            <div class="layui-upload layui-input-inline">
                <button type="button" name="img_upload" class="layui-btn btn_upload_img">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <img class="layui-upload-img img-upload-preview-small upload_img_preview"
                     src="{$confData.img_full}">
            </div>
            <input type="hidden" name="value_image" class="upload_img_url" value="{$confData.value}">
        </div>
        <div class="div-config-type div-config-typeFor-checkbox" style="display: {$confData.input_type=='checkbox'?'block':'none'}">
            <div class="layui-input-block">
                <input type="checkbox" {$confData.value==1?"checked":""} name="value_checkbox"
                       lay-skin="switch" lay-filter="switchTest" lay-text="打开|关闭">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">提示信息：</label>
        <div class="layui-input-block">
            <input type="text" name="tip" required lay-verify="required"
                   value="{$confData.tip}"
                   placeholder="请输入提示信息" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序权重：</label>
        <div class="layui-input-inline">
            <input type="number" name="list_order"
                   value="{$confData.list_order}" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">(数字越小，排序越靠前)</div>
    </div>

    {:token()}
    <div class="layui-form-item div-form-op">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-danger" type="button"
                    op_url="{:url('cms/config/edit',['id'=>$confData.id])}" onclick="opFormPostRecord(this)">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<style>
    .layui-form-item input{
        color: #7274AB;
        font-weight: 700;
    }
</style>
{/block}

{block name='single-content'}
<script src="__CMS__/js/configs.js"></script>
{/block}
