{extend name='layouts/cms'}
{block name='body-content'}
<form class="layui-form form-op-normal layui-form-paneX">
    <div class="layui-form-item">
        <label class="layui-form-label">广告标题：</label>
        <div class="layui-input-inline">
            <input type="text" name="ad_name" required lay-verify="required"
                   value="{$adData['ad_name']}"
                   placeholder="请输入广告标题" autocomplete="off" class="layui-input input-title-mz">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">广告配图：</label>
        <div class="layui-upload layui-input-inline">
            <button type="button" class="layui-btn btn_upload_img">
                <i class="layui-icon">&#xe67c;</i>上传配图
            </button>
            <img class="layui-upload-img img-upload-preview-medium upload_img_preview"
                 src="{$Think.config.ftp.IMG_SERVER_PATH}{$adData['original_img']}">
            <input type="hidden" name="original_img" class="upload_img_url" value="{$adData['original_img']}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">标识TAG：</label>
        <div class="layui-input-inline">
            <input type="text" name="ad_tag" required lay-verify="required"
                   placeholder="请输入标识字符串"
                   value="{$adData['ad_tag']}"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">(建议大写)</div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">开始时间：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="startTime" autocomplete="off"
                       name="start_time" value="{$adData.start_time}" placeholder="yyyy-MM-dd HH:mm:ss">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束时间：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="endTime" autocomplete="off"
                       name="end_time" value="{$adData.end_time}" placeholder="yyyy-MM-dd HH:mm:ss">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">前端显示：</label>
        <div class="layui-input-block">
            <input type="checkbox" {$adData.is_show==1?"checked":""} name="is_show"
            lay-skin="switch" lay-filter="switchTest" lay-text="显示|隐藏">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序权重：</label>
        <div class="layui-input-inline">
            <input type="number" name="list_order"
                   value="{$adData['list_order']}" required lay-verify="required"
                   placeholder="" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">(数字越小，排序越靠前)</div>
    </div>

    {:token()}
    <div class="layui-form-item">
        <div class="layui-input-block div-form-op">
            <button class="layui-btn layui-btn-danger" type="button"
                    op_url="{:url('cms/adList/edit',['id'=>$adData.id])}" onclick="opFormPostRecord(this)">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

{/block}
{block name='single-content'}
<script src="__CMS__/js/adlists.js"></script>
{/block}




