
.block-goods-sku{
    margin-top: 10px;
}
.tbody-specInfo-value .label-specInfo{
    width: 100%;
}
.table-specInfo th,.table-specInfo td,
.table-specInfo td input{
    text-align: center;
}
.tbody-specInfo-msg .span-spec_name{
    font-weight: bold;
    font-size: 14px;
    color: #7274A7;
}
.tbody-specInfo-msg .input-selling_price{
    color: #ffadad;
}
.tbody-specInfo-msg .input-sku-stock{
    color: #0e90d2;
}
.tbody-specInfo-msg .input-sold_num{
    color: #8a8f97;
}
.tbody-specInfo-msg .option-sku_status-1{
    background-color: #468847;
}
.tbody-specInfo-msg .option-sku_status-0,
.tbody-specInfo-msg .option-sku_status--1{
    background-color: #9F9F9F;
}
.tbody-specInfo-msg .div-sku_upload{
    height: 43px;
    line-height: 43px;
    float: left;
}
.tbody-specInfo-msg .btn_sku_upload_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
}
.tbody-specInfo-msg .layui-upload-img{
    max-width: 150px;
}
.tbody-specInfo-msg .icon-sku_upload{
    margin: 0 0;
}



.table-tbody-normal .tr-normal .img-thumbnail {
    max-height: 68px;
}

.table-tbody-normal .td-goods_name {
    color: #7274AB;
}

.table-tbody-normal .span-cat_name {
    color: #ce8483;
}

.table-tbody-normal .span-brand_name{
    color: #5b9dfd;
}
.table-tbody-normal .selling_price{
    color: #f55790;
}

.table-tbody-normal .span-stock{
    color: #8a8f97;
}
.table-tbody-normal .span-updated_at{
    color: #FF9999;
}

.table-tbody-normal .span-list_order{
    color: #bb99ff;
}
.table-tbody-normal .table-body, #demo2-1 {
    width: 80%;
    margin: 10px auto;
}
