{extend name="layouts/cms"}
{block name="body-content"}
<form class="layui-form form-op-normal layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">赠言出处：</label>
        <div class="layui-input-inline">
            <input type="text" name="from" required lay-verify="required"
                   value="{$todayWordData['from']}"
                   placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">请十个字以内</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">代表图片：</label>
        <div class="layui-upload layui-input-inline">
            <button type="button" name="img_upload" class="layui-btn btn_upload_img">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <img class="img-upload-preview-headshot upload_img_preview"
                 src="{$Think.config.ftp.IMG_SERVER_PATH}{$todayWordData.picture}">
            <input type="hidden" name="picture" class="upload_img_url" value="{$todayWordData['picture']}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">多图列表：</label>
        <div class="layui-upload layui-input-block">
            <button type="button" class="layui-btn layui-btn-normal" id="btn_multiple_upload_img">多图上传</button>
            <button type="button" class="layui-btn layui-btn-danger" id="btn_image_clear">清空多图</button>
            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                <div class="layui-upload-list" id="upload_image_list">
                    {volist name="todayWordData.img_list" id="pic"}
                    <img style="height: 66px;margin-left: 7px" onclick="delMultipleImgs(this)"
                         src="{$Think.config.ftp.IMG_SERVER_PATH}{$pic}"
                         title="单击删除" class="layui-upload-img">
                    {/volist}
                </div>
                <input type="hidden" name="images_str" class="upload_image_url" value="{$todayWordData['images_str']}">
            </blockquote>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态：</label>
        <div class="layui-input-inline">
            <input type="radio" name="status" value="1" title="正常" {$todayWordData.status==1?"checked":""}>
            <input type="radio" name="status" value="-1" title="无效" {$todayWordData.status==-1?"checked":""}>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">精选内容：</label>
        <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="word" required
                          lay-verify="required" class="layui-textarea">{$todayWordData['word']}</textarea>
        </div>
    </div>
    {:token()}
    <div class="layui-form-item">
        <div class="layui-input-block div-form-op">
            <button class="layui-btn" type="button"
                    op_url="{:url('cms/todayWord/edit',['id'=>$todayWordData.id])}" onclick="opFormPostRecord(this)"
                    lay-submit lay-filter="formDemo">提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">放弃</button>
        </div>
    </div>
</form>

{/block}

{block name="single-content"}
<script src="__CMS__/js/today_words.js"></script>
{/block}




