{extend name="layouts/cms" /}
{block name="body-content"}
<button class="layui-btn layui-btn-normal"
        op_url="{:url('cms/todayWord/add')}"
        onclick="addForOpenPopups(this,'ღ 添加今日赠言','60%')">
    <i class="layui-icon">&#xe608;</i> 添加赠言
</button>
<div class="layui-inline">
    <div class="layui-input-inline">
        <form class="form-search" action="{:url('cms/todayWord/index')}" method="get">
            <input type="hidden" name="curr_page" class="curr_page" value="1">
            <input type="text" value="{$search}" name="str_search" placeholder="请输入出处"
                   class="layui-input search_input">
        </form>
    </div>
    <button class="layui-btn-warm btn-search-mz">
        <i class="layui-icon">&#xe615;</i>
    </button>
</div>

<table class="layui-table table-body" lay-even="" lay-skin="row">
    <colgroup>
        <col width="12%">
        <col width="8%">
        <col width="25%">
        <col width="10%">
        <col width="5%">
        <col width="10%">
    </colgroup>
    <thead>
    <tr>
        <th>出处</th>
        <th>图片</th>
        <th>内容</th>
        <th>更新时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <input type="hidden" class="op_url" value="{:url('cms/todayWord/edit',['id'=>'opid'])}">
    <tbody class="tbody-items table-tbody-normal"
           ajax_page_fun="ToAjaxOpForPageTodayWords"
           record_num="{$record_num}" page_limit="{$page_limit}"
           page_url="{:url('cms/todayWord/index')}">
    {volist name="todayWords" id="vo"}
    <tr class="tr-normal-{$vo['id']}">
        <td class="from">《{$vo['from']}》</td>
        <td class="icon">
            <img src="{$vo['picture']}" class="layui-circle">
        </td>
        <td class="word">{php}echo $vo['image_list_view'];{/php}<br>{$vo['word']}</td>
        <td>{$vo['updated_at']}</td>
        <td>{php} echo $vo['status_tip']{/php}</td>
        <td>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" title="编辑"
                        onclick="editForOpenPopups('✌ 今日赠言修改','{$vo.id}','60%')">
                    <i class="layui-icon">&#xe642;</i>
                </button>
                <button class="layui-btn layui-btn-sm" title="删除"
                        onclick="delPostRecord('{$vo.id}')">
                    <i class="layui-icon">&#xe640;</i>
                </button>
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<div id="demo2-1"></div>
<style>
    .table-tbody-normal .from{
        color: #7274A7;
    }
    .table-tbody-normal .word {
        color: #eb7350;
    }
    .icon img {
        width: 66px;
        height: 66px;
    }
    .view_image{
        padding-left: 3px;
        padding-bottom: 3px;
        height: 55px;
    }
    .table-body,#demo2-1{
        width: 66%;
        margin: 10px auto;
    }
</style>
{/block}

{block name='single-content'}
<script src="__CMS__/js/today_words.js"></script>
{/block}