{extend name="layouts/cms_chat"}
{block name='body-content'}

<div class='fui-page-group'>
    <div class='fui-page chatDetail-page'>
        <div class="chat-header flex">
            <i class="icon icon-toleft t-48"></i>
            <span class="shop-titlte t-30">与 【{$toName}】 聊天中...</span>
            <span class="shop-online t-26 into-shop"></span>
        </div>
        <div class="fui-content navbar" style="padding:1rem 0 1.35rem 0;">
            <div class="chat-content">
                <p style="display: none;text-align: center;padding-top: 0.5rem" id="more"><a>加载更多</a></p>
                <p class="chat-time"><span class="time">2020-10-24</span></p>
            </div>
        </div>
        <div class="fix-send flex footer-bar">
            <i class="layui-icon icon_face t-50">&#xe664;</i>
            <textarea  class="send-input" rows="1" cols="100" id="say_text"></textarea>
            <input type="file" name="pic" id="file" style="display: none">
            <i class="icon icon-add image_up t-50" style="color: #888;"></i>
            <button type="button" class="layui-btn layui-btn-normal send-btn layuiz">~<i class="layui-icon">&#xe609;</i></button>
        </div>
    </div>
</div>
{/block}

{block name='single-content'}
<script>
    var from_id = '{$from_id}';
    var to_id = '{$to_id}';
    var from_head = '';
    var to_head = '';
    var online_status = 0;
    var interval_timer = null;//计时器
    var timer_count = 0;
    var API_CHAT_URL = "{:url('cms/chat/save_message')}";
    var wsUrl = "{$web_socket_url}";
    var ws;

    createOrConnectWebSocket();	// 创建websocket
    /**
     * 创建websocket或掉线重连
     */
     function createOrConnectWebSocket(){
        if(!ws){
            //TODO ws 不存在
            console.log('!ws');
            ws = new WebSocket(wsUrl);
            websocketInit();
        }else {
            if (!isOnlineCurrUser()){
                ws = null;
                createOrConnectWebSocket();
            }
        }
        init_start_timer();
    }


    /**
     * websocket 的初始化
     */
    function websocketInit(){
        ws.onmessage = function (e) {
            var message = eval('(' + e.data + ')');
            console.log('message', message);
            switch (message.type) {
                case 'init':
                    changeNoReadLogs();
                    var bind = '{"type":"bind","from_id":"' + from_id + '","to_id":"' + to_id + '"}';
                    ws.send(bind);
                    message_load();
                    var online = '{"type":"online","from_id":"' + from_id + '","to_id":"' + to_id + '"}';
                    ws.send(online);
                    break;
                case 'online':
                    if (message.status == 1) {
                        set_online_status(true);
                    } else {
                        set_online_status(false);
                    }
                    return;
                case "say":
                    if (to_id == message.from_id) {
                        var messagexx = '{"tag":"left","content":"' + message.content + '","type":"say","from_id":"' + from_id + '","to_id":"' + to_id + '"}';
                        To_send_message(messagexx, 'left',message.content);
                        if (message.is_read == 1) {
                            set_online_status(true);
                        } else {
                            set_online_status(false);
                        }
                        changeNoReadLogs();
                    }
                    save_message(message);
                    return;
                case "say_img":
                    if(from_id == message.to_id){
                        $(".chat-content").append(' <div class="chat-text section-left flex"><span class="char-img" style="background-image: url('+to_head+')"></span> <span class="text"><i class="icon icon-sanjiao4 t-32"></i><img width="120em" height="auto" src="'+message.content+'"></span> </div>');
                        $(".chat-content").scrollTop(3000);
                        changeNoReadLogs();
                    }
                    if (to_id == message.to_id) {
                        if (message.is_read == 1) {
                            set_online_status(true);
                        } else {
                            set_online_status(false);
                        }
                    }
                    save_message(message);
                    return;
            }
        };
        ws.onclose = function (e) {
            console.log('websocket 断开: ' + e.code + ' ' + e.reason + ' ' + e.wasClean);
        };
    }
    /**
     * 设置一个 30秒的轮询监听方法，避免页面关闭
     */
    function init_start_timer() {
        //重置计数器
        timer_count = 0;
        if(interval_timer != null){
            clearInterval(interval_timer);
            interval_timer = null;
        }
        interval_timer = setInterval(function(){ myTimer() }, 30000);
    }
    /**
     *定时器具体实现方法
     */
    function myTimer() {
        //TODO 如果超过半小时没有交互，则关闭计时器
        if(timer_count >= 1800){
            clearInterval(interval_timer);
        }else {
            timer_count += 30;
            var online = '{"type":"timer","from_id":"' + from_id + '","to_id":"' + to_id + '"}';
            ws.send(online);
            console.log('timer_count',timer_count);
        }
    }
    /**
     * 设置用户在线状态
     */
    function set_online_status(flag) {
        if(flag){
            $(".shop-online").text("在线");
            $(".into-shop").css({"background": "#1d953f"});
            online_status = 1;
        }else {
            $(".shop-online").text("离线");
            $(".into-shop").css({"background": "#77787b"});
            online_status = 0;
        }
    }

    $(".send-btn").click(function () {
        sendChatContent();
    });
    //回车事件绑定
    $('.send-input').keydown(function (event) {
        if(!event.shiftKey && event.keyCode == "13") {
            event.preventDefault();
            //回车执行查询
            $('.send-btn').click();
        }
    });


    /**
     * 保存聊天记录
     */
    function save_message(message) {
        if (from_id == message.from_id) {
            $.post(
                API_CHAT_URL,
                message,
                function (result) {
                    if (result.status == 1) {
                        console.log(result.message);
                    } else {
                        //失败
                        layer.msg(result.message);
                    }
                }, "JSON");
        }else {
            return;
        }

    }
    /**
     * 判断当前用户是否 还在线
     */
    function isOnlineCurrUser() {
        if(ws){
            if(ws.readyState == WebSocket.OPEN){
                console.log('open',ws.readyState);
                init_start_timer();
                return true;
            }else {
                console.log('close',ws.readyState);
                return false;
            }
        }else {
            return false;
        }
    }
    /**
     * 发送聊天信息
     */
    function sendChatContent() {
        var text = $(".send-input").val();
        if (text) {
            var message = '{"tag":"right","content":"' + text + '","type":"say","from_id":"' + from_id + '","to_id":"' + to_id + '"}';
            To_send_message(message, 'right',text);
        }
    }
    /**
     * 发送---具体处理方法
     */
    function To_send_message(message, tag,content) {
        let appendHtml;

        if (tag == 'right') {
            appendHtml = "<div class=\"chat-text section-right flex\">\n" +
            "<span class=\"text\"><i class=\"icon icon-sanjiao3 t-32\"></i>" + replace_em(content) + "</span>\n" +
            "<span class=\"char-img\" style=\"background-image: url(" + from_head + ")\"></span>\n" +
            "</div>";
            if(isOnlineCurrUser()){
                $(".chat-content").append(appendHtml);
                ws.send(message);
                $(".send-input").val("");
                $(".chat-content").scrollTop(3000);
            }else {
                createOrConnectWebSocket();
                dialog.tip("您已离线,重新连接中...");
            }
        }else {
            appendHtml = "<div class=\"chat-text section-left flex\">\n" +
                "<span class=\"char-img\" style=\"background-image: url(" + to_head + ")\"></span>\n" +
                "<span class=\"text\"><i class=\"icon icon-sanjiao4 t-32\"></i>" + replace_em(content) + "</span>\n" +
                "</div>";
            $(".chat-content").append(appendHtml);
        }
    }
    /**
     * 处理发送人的未读消息
     */
    function changeNoReadLogs() {
        const URL = "{:url('cms/chat/changeNoRead')}";
        $.post(
            URL,
            {from_id: from_id, to_id: to_id},
            function (result) {

            },'JSON');
    }
    /**
     * 加载聊天记录
     */
    function  message_load() {
        const URL = "{:url('cms/chat/load')}";
        $.post(
            URL,
            {from_id: from_id, to_id: to_id},
            function (result) {
                from_head = result.data.from_head;
                to_head = result.data.to_head;
                if (result.status == 1) {
                    $.each(result.data.logRes,function(index,content){
                        if(from_id == content.from_id){
                            if(content.type==2){
                                $(".chat-content").append(
                                    '<div class="chat-text section-right flex">' +
                                    '<span class="text"><i class="icon icon-sanjiao3 t-32"></i>' +
                                    '<img width="120em" height="auto" src="'+content.content+'"></span> ' +
                                    '<span class="char-img" style="background-image: url('+from_head+')"></span> ' +
                                    '</div>');
                            }else{
                                $(".chat-content").append(
                                    '<div class="chat-text section-right flex">' +
                                    '<span class="text"><i class="icon icon-sanjiao3 t-32"></i>' +replace_em(content.content)+'</span> ' +
                                    '<span class="char-img" style="background-image: url('+from_head+')"></span>' +
                                    '</div>');
                            }
                        }else{
                            if(content.type==2){
                                $(".chat-content").append(
                                    '<div class="chat-text section-left flex">' +
                                    '<span class="char-img" style="background-image: url('+to_head+')"></span> ' +
                                    '<span class="text"><i class="icon icon-sanjiao4 t-32"></i>' +
                                    '<img width="120em" height="auto" src="'+content.content+'"></span> ' +
                                    '</div>');
                            }else{
                                $(".chat-content").append(
                                    '<div class="chat-text section-left flex">' +
                                    '<span class="char-img" style="background-image: url('+to_head+')"></span> ' +
                                    '<span class="text"><i class="icon icon-sanjiao4 t-32"></i>'+replace_em(content.content)+'</span> ' +
                                    '</div>');
                            }
                        }
                    });
                    $(".chat-content").scrollTop(3000);
                } else {
                    layer.msg(result.message);
                }
            }, "JSON");
    }
    /**
     * 图片发送操作：上传服务器+记录展示
     */
    layui.use('upload', function () {
            var upload = layui.upload;
            //普通图片上传
            upload.render({
                elem: '.image_up'
                , type: 'images'
                , exts: 'jpg|png|gif|jpeg' //设置一些后缀，用于演示前端验证和后端的验证
                , accept:'images' //上传文件类型
                , url: image_upload_url
                , done: function (res) {
                    //如果上传成功
                    if (res.status == 1) {
                        $(".chat-content").append('<div class="chat-text section-right flex"><span class="text"><i class="icon icon-sanjiao3 t-32"></i><img width="120em" height="auto" src="'+res.data.full_url+'"></span> <span class="char-img" style="background-image: url('+to_head+')"></span> </div>');
                        $(".chat-content").scrollTop(3000);
                        var message = '{"data":"'+res.data.full_url+'","from_id":"'+from_id+'","to_id":"'+to_id+'","type":"say_img"}';
                        ws.send(message);
                    }
                }
                , error: function () {
                    //演示失败状态，并实现重传
                    return layer.msg('发送失败,请重新上传');
                }
            });
    });
    /**
     * QQ 表情配置加载
     */
    $(function(){
        $('.icon_face').qqFace({
            assign:'say_text',
            path:'__STATIC__/qqFace/arclist/'	//表情存放的路径
        });
        $(".chat-header").click(function () {
            window.history.back();  //返回上一页
        });
    });
    /**
     * QQ 表情替换操作
     * @param str
     * @returns {*}
     */
    function replace_em(str){
        str = str.replace(/\</g,'&lt;');
        str = str.replace(/\>/g,'&gt;');
        str = str.replace(/\n/g,'<br/>');
        str = str.replace(/\[em_([0-9]*)\]/g,'<img src="__STATIC__/qqFace/arclist/$1.gif" border="0" />');
        return str;
    }
    
</script>
{/block}
