{extend name='layouts/cms'}

{block name='body-content'}
<div class="layui-inline layui-form">
    <div id="div-op-todolist"></div>
</div>


{/block}

{block name='single-content'}
{include file="layouts/_reactJs" /}

<script type="text/babel">
    class TodoItem extends React.Component{
        // 构造函数的初始化数据处理
        constructor(props) {
            super(props);
            this.handleClick = this.handleClick.bind(this);
        }
        handleClick(){
            //const index_li = this.props.index_li;
            const { fatherDeleteItem,index_li} = this.props;
            fatherDeleteItem(index_li)
        }
        shouldComponentUpdate(nextProps){
            if (nextProps.content !== this.props.content){
                return true;
            }
            return false;

        }
        render(){
            console.log('item-render');
            const {content} = this.props;
            return(
                <li onClick={this.handleClick}>
                    {content}
                </li>
            )
        }
    }

    //使用 PropTypes 进行类型检查
    TodoItem.propTypes = {
        test: PropTypes.string.isRequired,
        content : PropTypes.string,
        fatherDeleteItem : PropTypes.func,
        index_li : PropTypes.number
    }
    //使用 defaultProps 进行默认赋值
    TodoItem.defaultProps = {
        test : 'Hello'
    }


    class Todolist extends React.Component{
        // 构造函数的初始化数据处理
        constructor(props) {
            super(props);
            this.state = {
                input_val:'',
                list:['学习','跑步']
            };
            this.handleOnKeyUp = this.handleOnKeyUp.bind(this);
            this.handleSubmit = this.handleSubmit.bind(this)
            this.handleDeleteItem = this.handleDeleteItem.bind(this);
        }

        //组件进入后，在第一次渲染后调用
        componentDidMount(){

        }
        handleInputChange(e){
            const inputVal = e.target.value;
            this.setState(()=>({
                input_val:inputVal
            }))
        }
        handleSubmit(){
            this.setState((prevState)=>({
                input_val:'',
                list:[...prevState.list,prevState.input_val]
            }))
        }
        handleOnKeyUp(e){
            if(e.keyCode === 13) {
                this.handleSubmit();
            }
        }

        handleDeleteItem(item_index){
            this.setState((prevState)=>{
                const list = [...prevState.list];
                list.splice(item_index,1);
                return { list : list}
            })
        }
        //当前组件元素渲染操作
        render(){
            return(
                    <React.Fragment>
                        {/* 这是注释信息 */}
                        <div className="layui-input-inline">
                            <label className="layui-form-label" htmlFor="insertArea">输入内容：</label>
                            <div className="layui-input-inline">
                                <input className="layui-input"
                                       id="insertArea"
                                       autoComplete="off"
                                       onChange={this.handleInputChange.bind(this)}
                                       onKeyUp={this.handleOnKeyUp}
                                       value={this.state.input_val}/>
                            </div>
                            <button className="layui-btn layui-btn-warm"
                                    onClick={this.handleSubmit}>提交</button>
                        </div>
                        <hr/>
                        <div className="layui-input-inline">
                            <ul>
                                {this.getTodoItem()}
                            </ul>
                        </div>
                    </React.Fragment>
            )
        }

        getTodoItem(){
            return this.state.list.map((item,index) =>{
                return <TodoItem key={index}
                                 index_li={index} content={item}
                                 fatherDeleteItem = {this.handleDeleteItem} />
            })
        }
    }

    //ReactDOM 的渲染操作
    ReactDOM.render(
        <Todolist />,
        document.getElementById("div-op-todolist")
    )
</script>
{/block}