{extend name="layouts/cms"}
{block name="body-content"}
<form class="layui-form form-op-normal layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">导航标题：</label>
        <div class="layui-input-inline">
            <input type="text" name="name" required lay-verify="required"
                   placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">请七个字以内</div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">个性图标：</label>
        <div class="layui-upload layui-input-inline">
            <button type="button" name="img_upload" class="layui-btn btn_upload_img">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <img class="layui-upload-img img-upload-preview-small upload_img_preview"
                 src="__CMS__/images/icon/nav_default.png">
            <input type="hidden" name="icon" class="upload_img_url" value="cms/images/icon/nav_default.png">

        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">菜单类型：</label>
        <div class="layui-input-block" style="width: 660px">
            <input type="radio" name="navType" lay-filter="navType" value="F" title="主菜单" checked>
            <input type="radio" name="navType" lay-filter="navType" value="S" title="二级菜单">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">父级导航：</label>
        <div class="layui-input-inline sel-parent-msg sel-parent-msg-F">
            <select name="parent_id_F" lay-verify="required">
                <option value="0">根级导航</option>
            </select>
        </div>
        <div class="layui-input-inline sel-parent-msg sel-parent-msg-S"
             style="display:none">
            <select name="parent_id_S" lay-verify="required">
                {volist name="rootMenus" id="vo"}
                <option value="{$vo['id']}">{$vo['name']}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item sel-parent-msg sel-parent-msg-S"
         style="display:none">
        <label class="layui-form-label">action：</label>
        <div class="layui-input-inline">
            <input type="text" name="action" required
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">(example:cms/menu)根级导航不需写</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序权重：</label>
        <div class="layui-input-inline">
            <input type="number" name="list_order" value="0" required lay-verify="required"
                   placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">(数字越小，排序越靠前)</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态设置：</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="正常" checked>
            <input type="radio" name="status" value="-1" disabled="" title="无效">
        </div>
    </div>
    {:token()}
    <div class="layui-form-item">
        <div class="layui-input-block div-form-op">
            <button class="layui-btn" type="button"
                    op_url="{:url('cms/menu/add')}" onclick="opFormPostRecord(this)"
                    lay-submit lay-filter="formDemo">添加
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

{/block}

{block name="single-content"}
<script src="__CMS__/js/nav_menus.js"></script>
{/block}




