{extend name="layouts/cms"}
{block name="body-content"}
<form class="layui-form form-op-normal layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">权限名称：</label>
        <div class="layui-input-inline">
            <input type="text" name="name" required lay-verify="required"
                   placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">请七个字以内</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">权限路径：</label>
        <div class="layui-input-inline">
            <input type="text" name="action" required
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">(example:cms/menu/edit)</div>
    </div>
    <input type="hidden" class="post-url" value="{:url('cms/NavMenu/auth',['id'=>$parent_id])}">
    {:token()}
    <div class="layui-form-item div-form-op">
        <div class="layui-input-block">
            <button class="layui-btn" type="button" onclick="addNewNavMenu(this)"
                    lay-submit lay-filter="formDemo">添加
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<table class="layui-table table-body-mz" lay-size="sm">
    <colgroup>
        <col width="45%">
        <col width="45%">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>权限名称</th>
        <th>权限路径</th>
        <th>删除</th>
    </tr>
    </thead>
    <tbody class="table-tbody-normal">
    {volist name="authMenus" id="vo"}
    <tr class="tr-normal-{$vo.id}">
        <td>
            <span onclick="opNavMenu(this,'{$vo.id}',1,'{$vo.name}')"
                    class="layui-btn layui-btn-radius layui-btn-primary layui-btn-sm">{$vo.name}</span>
        </td>
        <td>
            <span onclick="opNavMenu(this,'{$vo.id}',2,'{$vo.action}')"
                    class="layui-btn layui-btn-primary layui-btn-sm">{$vo.action}</span>
        </td>
        <td>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-danger layui-btn-sm"
                        onclick="delNavMenu('{$vo.id}')">
                    <i class="layui-icon">&#xe640;</i>
                </button>
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
{/block}

{block name="single-content"}
<script>
    /**
     * 添加新的导航菜单
     */
    function addNewNavMenu(obj) {
        const postData = $(".form-op-normal").serialize();
        const toUrl = $(".post-url").val();
        ToPostPopupsDeal(obj,toUrl, postData);
    }

    //根据菜单ID 删除菜单记录
    function delNavMenu(id) {
        let toUrl = "{:url('cms/navMenu/edit',['id'=>'NMID'])}";
        toUrl = toUrl.replace("NMID", id);
        ToDelItem(id, toUrl, '.tr-normal-' + id);
    }

    //根据菜单ID 编辑权限
    function opNavMenu(obj,id,btnTag,valEver){
        let btnName = (btnTag === 1)?'更新权限名称':'权限路径更新';
        layer.prompt(
            {
                title:false,
                value:valEver,
                formType:0,
                shadeClose:true,
                closeBtn : 0,
                btn: [btnName],
            },
            function(value, index){
                let toUrl = "{:url('cms/navMenu/updateAuth',['id'=>'NMID'])}";
                toUrl = toUrl.replace("NMID", id);
                const postData = {op_tag:btnTag,op_val:value};

                $.post(
                    toUrl,
                    postData,
                    function (result) {
                        if(result.status === 1){
                            dialog.tip_success(result.message);
                            $(obj).html(value);
                            layer.close(index);
                        }else{
                            dialog.tip_error(result.message);
                        }
                    },"JSON");
        });
    }
</script>
{/block}




