{extend name="layouts/cms"}
{block name="body-content"}
<form class="layui-form form-op-normal layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">导航标题：</label>
        <div class="layui-input-inline">
            <input type="text" name="name" required lay-verify="required"
                   value="{$menuData.name}"
                   placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">请七个字以内</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">个性图标：</label>
        <div class="layui-upload layui-input-inline">
            <button type="button" name="img_upload" class="layui-btn btn_upload_img">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <img class="layui-upload-img img-upload-preview-small upload_img_preview"
                 src="{$Think.config.ftp.IMG_SERVER_PATH}{$menuData.icon}">
            <input type="hidden" name="icon" class="upload_img_url" value="{$menuData.icon}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">菜单类型：</label>
        <div class="layui-input-block" style="width: 660px">
            <input type="radio" name="navType" lay-filter="navType" value="F" title="主菜单" {$menuData.parent_id==0?"checked":""}>
            <input type="radio" name="navType" lay-filter="navType" value="S" title="二级菜单" {$menuData.parent_id<>0?"checked":""}>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">父级导航：</label>
        <div class="layui-input-inline sel-parent-msg sel-parent-msg-F">
            <select name="parent_id_F" lay-verify="required">
                <option value="0">根级导航</option>
            </select>
        </div>

        <div class="layui-input-inline sel-parent-msg sel-parent-msg-S">
            <select name="parent_id_S" lay-verify="required">
                {volist name="rootMenus" id="vo"}
                    <option value="{$vo.id}" {if ($menuData.parent_id == $vo.id)}selected{/if}>{$vo.name}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item sel-parent-msg sel-parent-msg-S">
        <label class="layui-form-label">action：</label>
        <div class="layui-input-inline">
            <input type="text" name="action" required
                   value="{$menuData.action}"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">(example:cms/menu)根级导航不需写</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序权重：</label>
        <div class="layui-input-inline">
            <input type="number" name="list_order"
                   value="{$menuData.list_order}" required lay-verify="required"
                   placeholder="" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">(数字越小，排序越靠前)</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态设置：</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="正常" {$menuData.status==1?"checked":""}>
            <input type="radio" name="status" value="-1" title="无效" {$menuData.status==-1?"checked":""}>
        </div>
    </div>
    {:token()}
    <div class="layui-form-item div-form-op">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-danger" type="button"
                    op_url="{:url('cms/navMenu/edit',['id'=>$menuData.id])}"
                    onclick="opFormPostRecord(this)"
                    lay-submit lay-filter="formDemo">提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

{/block}

{block name="single-content"}
<script src="__CMS__/js/nav_menus.js"></script>
<script>
    var parent_id = "{$menuData.parent_id}";
    var navTag = "F";
    if(parent_id != 0){
        navTag = "S";
    }
    $(".sel-parent-msg").hide();
    $(".sel-parent-msg-"+navTag).show();
</script>
{/block}




