{extend name="layouts/cms"}

{block name="body-content"}
<div class="layui-form-item">
    <button class="layui-btn layui-btn-normal"
            op_url="{:url('cms/menu/add')}"
            onclick="addForOpenPopups(this, '✚ 添加导航菜单', '75%', '68%')">
        <i class="layui-icon">&#xe608;</i> 添加导航
    </button>
</div>
<div class="layui-inline layui-form">
    <form class="form-search" action="{:url('cms/menu/index')}" method="get">
        <div class="layui-input-inline">
            <input type="hidden" name="curr_page" class="curr_page" value="1">
            <input type="text" value="{$search}" name="str_search" placeholder="请输入关键字"
                   class="layui-input search_input">
        </div>
        <button class="layui-btn-warm btn-search-mz">
            <i class="layui-icon">&#xe615;</i>
        </button>

        <div class="layui-input-inline" style="width: 800px">
            <div class="layui-input-block" style="width: 100%">
                <input type="radio" name="navType" value="F" title="主菜单" {$navType=="F"?"checked":""}>
                <input type="radio" name="navType" value="S" title="二级菜单" {$navType=="S"?"checked":""}>
            </div>
        </div>
    </form>
</div>

<table class="layui-table table-body" lay-even="" lay-skin="row">
    <colgroup>
        <col width="5%">
        <col width="10%">
        <col width="8%">
        <col width="12%">
        <col width="10%">
        <col width="5%">
        <col width="12%">
        <col width="8%">
        <col width="15%">
    </colgroup>
    <thead>
    <tr>
        <th>ID</th>
        <th>导航标题</th>
        <th>图标</th>
        <th>action</th>
        <th>父级菜单</th>
        <th>排序</th>
        <th>创建时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <input type="hidden" class="op_url" value="{:url('cms/navMenu/edit',['id'=>'opid'])}">
    <tbody class="table-tbody-normal"
           ajax_page_fun="ToAjaxOpForNavMenusPage"
           record_num="{$record_num}" page_limit="{$page_limit}"
           page_url="{:url('cms/navMenu/index')}">
    {volist name="menus" id="vo"}
    <tr class="tr-normal-{$vo['id']}">
        <td>{$vo['id']}</td>
        <td class="title">{$vo['name']}</td>
        <td class="icon"><img class="layui-circle" src="{$vo['icon']}"></td>
        <td>{$vo['action']}</td>
        <td class="parent">{$vo['parent_name']}</td>
        <td>{$vo['list_order']}</td>
        <td>{$vo['created_at']}</td>
        <td>{php} echo $vo['status_tip']{/php}</td>
        <td>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" title="编辑菜单"
                        onclick="editForOpenPopups('✎ 菜单信息修改','{$vo.id}','75%','68%')">
                    <i class="layui-icon">&#xe642;</i>
                </button>
                <button class="layui-btn layui-btn-sm" title="删除菜单"
                        onclick="delPostRecord('{$vo.id}')">
                    <i class="layui-icon">&#xe640;</i>
                </button>
                {neq name="vo.parent_id" value="0" }
                <button class="layui-btn layui-btn-sm" title="权限列表"
                        onclick="authNavMenu('{$vo.id}')">
                    <i class="layui-icon">&#xe628;</i>
                </button>
                {/neq}
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<div id="demo2-1"></div>
<style>
    .table-tbody-normal .title {
        color: #7274A7;
    }

    .icon img {
        width: 56px;
        height: 56px;
    }

    .table-tbody-normal .parent {
        color: #c17551;
    }
</style>
{/block}

{block name="single-content"}
<script src="__CMS__/js/nav_menus.js"></script>
<script>
    function authNavMenu(id) {
        var toUrl = "{:url('cms/navMenu/auth',['id'=>'NMID'])}";
        toUrl = toUrl.replace("NMID", id);
        ToOpenPopups(toUrl, '♖ 权限管理', '75%', '78%');
    }
</script>

{/block}