{extend name='layouts/cms'}

{block name='body-content'}

<button class="layui-btn layui-btn-normal" onclick="deleteServerLogs()">
    <i class="layui-icon">&#xe640;</i> 清除一个月前的文件
</button>

<div class="layui-inline">
    <div class="layui-input-inline">
        <form class="form-search">
            <input type="hidden" name="curr_page" class="curr_page" value="1">
        </form>
    </div>
</div>

<table class="layui-table table-body-mz" lay-even="" lay-skin="row">
    <colgroup>
        <col width="10%">
        <col width="40%">
        <col width="25%">
        <col width="25%">
    </colgroup>
    <thead>
    <tr>
        <th>序号</th>
        <th>{eq name="type" value="1"}文件夹{else/}文件{/eq}</th>
        <th>大小</th>
        <th>最近修改时间</th>
    </tr>
    </thead>
    <tbody class="table-tbody-normal">
    {volist name="log_data" id="vo"}
    <tr class="tr-normal">
        <td>{$key + 1}</td>
        <td class="title">
            <a href="{:url('cms/serverLog/log_index', array('name'=>$name.'-'.$vo.file_name))}">{$vo.file_name}</a>
        </td>
        <td><span class="span-file_size">{$vo.file_size}</span></td>
        <td><span class="span-last_mtime">{$vo.last_mtime}</span></td>
    </tr>
    {/volist}
    </tbody>
</table>
<style>
    .table-body-mz{
        width: 66%;
        margin: auto;
    }
    .table-tbody-normal .title a{
        color: #7274A7;
    }
    .span-file_size{
        color: #f8b9b7;
    }
    .span-last_mtime{
        color: seagreen;
    }
</style>
{/block}

{block name='single-content'}
<script>
    function deleteServerLogs() {
        layer.msg('确定要删除一个月前的runtime文件吗？', {
            time: 0 //不自动关闭
            ,btn: ['确定', '离开']
            ,shade:0.61,
            shadeClose:true,
            anim:4,
            moveOut: true
            ,yes: function(){
                ToDeleteLogFiles();
            }
        });
    }

    /**
     * 删除文件
     * @constructor
     */
    function ToDeleteLogFiles() {
        const toUrl = "{:url('cms/serverLog/deleteRuntimeFile')}";
        $.post(
            toUrl,
            {},
            function (result) {
                if(result.status === 1){
                    dialog.tip_success(result.message);
                }else{
                    dialog.tip_error(result.message);
                }
            },"JSON");
    }
</script>
{/block}