{extend name="layouts/cms"}
{block name='body-content'}
<div class="layui-inline layui-form">
    <form class="form-search form-op-search" action="{:url('cms/users/index')}" method="get">
        <div class="layui-input-inline" style="width: 100px">
            <select name="user_type" lay-filter="CatType">
                <option value="0" {$user_type=="0"?"selected":""}>普通用户</option>
                <option value="1" {$user_type=="1"?"selected":""}>内部员工</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <input type="hidden" name="curr_page" class="curr_page" value="1">
            <input type="text" value="{$search}" name="str_search" placeholder="昵称/认证手机"
                   class="layui-input search_input" autocomplete="off">
        </div>
        <button class="layui-btn-warm btn-search-mz">
            <i class="layui-icon">&#xe615;</i>
        </button>
    </form>
</div>

<table class="layui-table table-body" lay-even="" lay-skin="row">
    <colgroup>
        <col width="5%">
        <col width="5%">
        <col width="10%">
        <col width="5%">
        <col width="12%">
        <col width="5%">
        <col width="15%">
        <col width="5%">
    </colgroup>
    <thead>
    <tr>
        <th>编号</th>
        <th>头像</th>
        <th>昵称</th>
        <th>性别</th>
        <th>认证手机</th>
        <th>积分</th>
        <th>注册时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody class="table-tbody-normal layui-form"
           ajax_page_fun="ToAjaxOpForPageUsers"
           record_num="{$record_num}" page_limit="{$page_limit}"
           page_url="{:url('cms/users/index')}">
    {volist name="users" id="vo"}
    <tr class="tr-normal-{$vo['id']}">
        <td>{$vo['id']}</td>
        <td class="icon"><img class="layui-circle" src="{$vo.user_avatar}"></td>
        <td><span class="span-nick_name">{$vo['nick_name']} </span></td>
        <td>{$vo['sex']}</td>
        <td><span class="span-auth_tel">{$vo['auth_tel']} </span></td>
        <td><span class="span-integral">{$vo['integral']}</span><br></td>
        <td>
            {php} echo $vo['user_status_tip']{/php}<hr>
            <span class="span-reg_time">{$vo['reg_time2']}</span></td>
        <td>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-warm layui-btn-sm" title="状态审核"
                        onclick="checkToStatus('{$vo.id}')">
                    <i class="layui-icon">&#xe60e;</i>
                </button>
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<style>
    .icon img{
        width: 56px;
        height: 56px;
    }
    .span-nick_name{
        color: #7274A7;
    }
    .span-reg_time{
        color: #9b95c9;
    }
    .span-auth_tel{
        color: #f8b9b7;
    }
    .span-integral{
        color: #468847;
    }
    .table-body, #demo2-1 {
        width: 60%;
        margin: 10px auto;
    }
</style>
<div id="demo2-1"></div>
{/block}

{block name='single-content'}
<script src="__CMS__/js/users.js"></script>
<script>
    layui.use(['form'], function() {
        var form = layui.form;
        form.on('select()', function(data){
            $(".form-op-search").submit();
        });
        form.render();//细节！这个好像要渲染一下！
    })
    //进行售后状态的更改
    function checkToStatus(user_id) {
        layer.msg('请更新用户状态', {
            time: 5000 //不自动关闭
            ,area:[600]
            , shadeClose: true
            , btn: ['正常', '异常(可申诉)', '黑名单','【离开】']
            , yes: function () {
                ajaxUpdateUserStatus(user_id, 0,"正常")
            }, btn2: function () {
                ajaxUpdateUserStatus(user_id, 1,"异常")
            }, btn3: function () {
                ajaxUpdateUserStatus(user_id, 2,"黑名单")
            }
        });
    }

    /**
     * 审核状态  -1：已删除(审核未通过）  0：未审核 1：审核通过
     * ajax 进行服务请求修改审核状态
     */
    function ajaxUpdateUserStatus(user_id, user_status,updateText) {
        const toUrl = "{:url('cms/users/ajaxUpdateUserStatus')}";
        const postData = {user_id: user_id, 'user_status': user_status};
        $.post(
            toUrl,
            postData,
            function (res) {
                if(res.status == 1){
                    dialog.tip_success(res.message);
                    $(".span-user-status-"+user_id).html(updateText);
                }else {
                    dialog.tip_error(res.message);
                }
            }, 'JSON'
        )
    }
</script>
{/block}