{extend name="layouts/cms"}
{block name='body-content'}
<div class="layui-inline layui-form">
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main"
         style="margin-left:33px;margin-top: 30px;width: 1000px;height:650px;"></div>

</div>



{/block}

{block name='single-content'}
<script>
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 显示标题，图例和空的坐标轴
    myChart.setOption({
        title : {
            subtext:'单品售价区间 统计图',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: []
        },
        series: [{
            name: '访问来源',
            type: 'pie',
            radius : '72%',
            center: ['55%', '50%'],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            },
            data: []
        }]
    });

    $.post("{:url('cms/analyze/goodsPricePie')}",
        {}).done(function (data) {
        var resData = JSON.parse(data);
        myChart.setOption({
            series : [
                {
                    data:resData.data.opRes
                }
            ],
            legend:[
                {
                    data:resData.data.titleArr
                }
            ]
        });
    });
</script>
{/block}