{extend name="layouts/cms"}

{block name='body-content'}
<div class="layui-form-item">
    <button class="layui-btn layui-btn-normal"
            onclick="addSpecInfo(0,'✚ 属性添加')">
        <i class="layui-icon">&#xe608;</i> 添加产品属性
    </button>
</div>
<div class="layui-inline layui-form">
    <form class="form-search form-op-search" action="{:url('cms/specInfo/index')}" method="get">
        <div class="layui-input-inline">
            <div id="tree-sel-category" class="demo-tree"></div>
        </div>

        <div class="layui-input-inline" style="width: 180px">
            <select id="toSelCatID" lay-filter="toSelCatID" lay-search="" name="catID">
                <option value="">搜索或选择分类</option>
                {volist name="categoryList" id="vo"}
                {volist name="vo.children" id="vo2"}
                <optgroup label="{$vo2['title']}">
                    {volist name="vo2.children" id="vo3"}
                    <option value="{$vo3.id}" {$catID==$vo3.id?"selected":""}>{$vo3.title}</option>
                    {/volist}
                </optgroup>
                {/volist}
                {/volist}
            </select>
        </div>

        <div class="layui-input-inline">
            <input type="hidden" name="curr_page" class="curr_page" value="1">
            <input type="text" value="{$search}" name="str_search" placeholder="请输入名称/备注"
                   class="layui-input search_input" autocomplete="off">
        </div>
        <button class="layui-btn-warm btn-search-mz">
            <i class="layui-icon">&#xe615;</i>
        </button>
    </form>
</div>

<table class="layui-table table-body" lay-even="" lay-skin="row">
    <colgroup>
        <col width="8%">
        <col width="15%">
        <col width="15%">
        <col width="25%">
        <col width="7%">
        <col width="20%">
    </colgroup>
    <thead>
    <tr>
        <th>ID</th>
        <th>属性名称</th>
        <th>所属分类</th>
        <th>备注信息</th>
        <th>排序</th>
        <th>操作</th>
    </tr>
    </thead>
    <input type="hidden" class="op_url" value="{:url('cms/specInfo/edit',['id'=>'opid'])}">
    <tbody class="table-tbody-normal layui-form"
           ajax_page_fun="ToAjaxOpForPageSpecInfos"
           record_num="{$record_num}" page_limit="{$page_limit}"
           page_url="{:url('cms/specInfo/index')}">
    {volist name="list" id="vo"}
    <tr class="tr-normal-{$vo['spec_id']}">
        <td>{$vo['spec_id']}</td>
        <td class="spec_name">{$vo['spec_name']}</td>
        <td>
            <span class="span-cat_name">【{$vo['cat_name']}】</span>
        </td>
        <td class="mark_msg">{$vo['mark_msg']}</td>
        <td><span class="span-list_order">{$vo['list_order']}</span></td>
        <td>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm layui-btn-normal" title="编辑属性"
                        onclick="editForOpenPopups('✎ 产品属性修改','{$vo.spec_id}', '50%', '50%')">
                    <i class="layui-icon">&#xe642;</i>
                </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger" title="删除"
                        onclick="delPostRecord('{$vo.spec_id}')">
                    <i class="layui-icon">&#xe640;</i>
                </button>
                <button class="layui-btn layui-btn-sm layui-btn-warm" title="规格数据"
                        onclick="opSpecInfo('{$vo.spec_id}')">
                    <i class="layui-icon">&#xe63c;</i>
                </button>
                <button class="layui-btn layui-btn-sm" title="添加规格"
                        onclick="addSpecInfo('{$vo.spec_id}','✚ 规格添加')">
                    <i class="layui-icon">&#xe654;</i>
                </button>
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<style>
    .spec_name{
        background-color: #fff9ec;
        font-size: larger;
        color: #7274A7;
    }
    .mark_msg{
        color: #ffb86c;
    }
    .table-body,#demo2-1{
        width: 66%;
        margin: 10px auto;
    }
    .span-cat_name{
        font-size: medium;
        color: #ce8483;
    }
    .span-list_order{
        color: #00a0e9;
    }
</style>
<div id="demo2-1"></div>
{/block}

{block name='single-content'}
<script src="__CMS__/js/spec_infos.js"></script>
<script>
    layui.use(['form'], function() {
        var form = layui.form;
        form.on('select(toSelCatID)', function(){
            $(".form-op-search").submit();
        });
        form.render();//细节！这个好像要渲染一下！
    })
</script>
<script>
    //添加导航菜单
    function addSpecInfo(id,title) {
        var toUrl = "{:url('cms/specInfo/add',['id'=>'AID'])}";
        toUrl = toUrl.replace('AID', id);
        ToOpenPopups(toUrl, title, '50%', '50%');
    }

    function opSpecInfo(id) {
        var toUrl = "{:url('cms/specInfo/details',['id'=>'AID'])}";
        toUrl = toUrl.replace('AID', id);
        ToOpenPopups(toUrl, '★ 规格数据展示', '60%', '75%');
    }
</script>
{/block}